<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/styles/reset.css'/>
    <link rel="stylesheet" href='/styles/base.css'/>  
    <link rel="stylesheet" href='/styles/modules.css'/>
    <link rel="stylesheet" href='/styles/layout.css'/>
    <title>Book App</title>
</head>
<body>
        <main id='search-main'>
            <h1 id='intro-header'> The Book App </h1>
            <h1 id='intro-sub'> Settings: </h1>

          

            <form class='larger-text' id="edit-book-form" action="/books/edit/<%= book.id %>?_method=PUT" method="post">
              <fieldset>


                <label class="edit-form-text" for='<%= book.author %>'>Author: <%= book.author %></label><br>
                <input class="edit-form-text colorer" type="text" name="author" value="<%= book.author %>">
                <br>

                <label class="edit-form-text" for="<%= book.title %>">Title: <%= book.title %></label><br>
                <input type="text" name="title" class="edit-form-text colorer" value="<%= book.title %>">
                <br>

                <input class="edit-form-text" type="hidden" name="isbn" value="<%= book.isbn %>">
                <input type="hidden" name="image_url" value="<%= book.image_url %>">

                <label class="edit-form-text" for="<%= book.description %>">Description:</label><br>
                <textarea class="edit-form-text" id='text-for-description' type="text" name="description" value="<%= book.description %>"><%= book.description %></textarea>
                <br>


                <input type="hidden" name="bookshelf" value="<%= 1 %>">
                <button class="edit-button" type="submit">Edit This Book</button>
              </fieldset>
            </form>      

            <form id="delete-book-form" action="/books/edit/<%= book.id %>?_method=DELETE" method="post">
              <fieldset>
                <input type="hidden" name="author" value="<%= book.author %>">
                <input type="hidden" name="title" value="<%= book.title %>">
                <input type="hidden" name="isbn" value="<%= book.isbn %>">
                <input type="hidden" name="image_url" value="<%= book.image_url %>">
                <input type="hidden" name="description" value="<%= book.description %>">
                <input type="hidden" name="bookshelf" value="<%= 1 %>">
                <button class="edit-button" type="submit">Delete Book</button>
              </fieldset>
            </form>      
    </main>
    
</body>
</html>