<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../styles/reset.css'/>
    <link rel="stylesheet" href='../styles/base.css'/>  
    <link rel="stylesheet" href='../styles/modules.css'/>
    <link rel="stylesheet" href='../styles/layout.css'/>
    <title>Seach book</title>
</head>
<body>

    <header>
        <h3 id='results' class='form-spacer zoom'>These are your results:</h3>
    </header>
    
    
    <main id='search-main'>
         <% searchResults.forEach( book => { %>
             <div class='books desktop-books'>
                 <div class='book-img'>
                    <img src='<%= book.image %>'/>
                 </div>
                 <div class='book-info'>
                    <h3 class='form-spacer'>Title: <span class='highlight'><%=  book.title %></span>
                         Author: <span class='highlight'><%= book.authors %></span> </h3>
                    <p> </p>
                    <h6 class='form-spacer'><%= book.description %></h6>
                 </div>
                 <form id="add-book-form" action="/books" method="post">
                    <fieldset>
                      <legend>Add to favorites: </legend>
                      <input type="hidden" name="author" value="<%= book.authors %>">
                      <input type="hidden" name="title" value="<%= book.title %>">
                      <input type="hidden" name="isbn" value="<%= book.isbn %>">
                      <input type="hidden" name="image" value="<%= book.image %>">
                      <input type="hidden" name="description" value="<%= book.description %>">
                      <input type="hidden" name="bookshelf" value="<%= 1 %>">
                      <button type="submit">Add This Book</button>
                    </fieldset>
                  </form> 
             </div>
        <% }) %>
                
    </main>
    
    <footer>

    </footer>
    
</body>
</html>